---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$background-color: #171717;
$text-color: #f2f2f2;
$primary-color: #f96d00;
$border-color: mix(#fff, $background-color, 20%) !default;
$code-background-color: mix(#000, $background-color, 25%) !default;
$code-background-color-dark: mix(#000, $background-color, 30%) !default;
$form-background-color: mix(#000, $background-color, 15%) !default;
$footer-background-color: mix(#000, $background-color, 30%) !default;
$link-color: $primary-color;
$link-color-hover: $text-color;
$link-color-visited: mix(#000, $link-color, 25%) !default;
$masthead-link-color: $text-color;
$masthead-link-color-hover: $primary-color;
$navicon-link-color-hover: mix(#000, $background-color, 30%) !default;

.page__title {
    color: $primary-color;
}

a.site-title {
    color: $primary-color;
}

.author__urls.social-icons .svg-inline--fa,
.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}

.ais-search-box .ais-search-box--input {
  background-color: $form-background-color;
}

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials